.hero-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4.5rem;
}
.hero-header-wrapper img{
    height: 40px;
    width: 150px;
}

.header-right-site{
    display: flex;
    gap: 1.5rem;
}