.drop-down-icon{
    position: absolute;
    margin: 0.25rem 0 0 0.75rem;
}
.cmn-dropdown{
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    border-radius: 0.2rem;
}