.Hero-banner-wrapper{
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("../../assets/bgi.jpeg");
    background-repeat: repeat;
    width:auto;
    padding: 0 4rem 0.1rem 4rem;
}
.banner-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9rem 0;
    max-width: calc(100%-3rem);
}
.banner-content-wrapper{
    text-align: center;
    padding: 0 10%;
    /* margin-top: 80px; */
}
.banner-heading{
    font-size: 50px;
    /* margin: 0; */
    font-weight: 800;

}
.banner-subheading{
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0%;
}